[workspace]
members = [
	"noria",
	"noria-server",
	"noria-benchmarks",
	"noria-benchmarks/lobsters",
]

[profile.release]
debug=true

[patch.'https://github.com/tower-rs/tokio-tower.git']
tokio-tower = { git = "https://github.com/ms705/tokio-tower.git", branch = "patched-for-old-noria" }